

<ion-view view-title="login" ng-controller="login-ctrl as vm">
    <ion-pane>   
      
      <ion-content>
        
      <button 
      ng-click="vm.facebookSignIn()"
      class="btn-fb icon-left ion-social-facebook button button-block button-positive">
      Connect with Facebook
      </button>

      <button 
      ng-click="vm.googleConnect()"
      class="btn-gplus icon-left ion-social-googleplus button button-block button-positive">
      Connect with Googe+
      </button>
      
      </ion-content>
      
    </ion-pane>
</ion-view>